h1 {
 color: #8A0000;
}

#test {
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

#test:hover {
    transform: scale(1.2);
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}

#test a {
    text-decoration: none;
    color: black;
}

#test a:hover {
    color: #8A0000;
}